---
import Layout from "../../layouts/Layout.astro"
import Navbar from "../../components/navbar/navbar.astro"
import Footer from "../../layouts/Footer.astro"
import BlogImage from "../../components/blog_template/micro_components/blog_img"

const language = "fr"
---


<Layout title="About Digital Poetry" description="What is Digital Poetry about.">
	
	
<style lang="scss">
	@import "../../layouts/colors";
	@import "../../layouts/font";
	
	


	header {
	width: var(--blog-width);
	margin-inline: auto;
	margin-top: 5em;
	margin-bottom: 0.4em;
	color: #fff;
	
		h1 {
			background-image: linear-gradient(to right, $light-blue ,$light-purple) ;
			background-clip: text;
			text-align: center;
			font-family: $font-family-5;
			font-size: 1.6em;
			color: transparent;
			padding : 0.2em ;
		}
	
		div{
			width: 50%;
			border-radius: 2px;
			margin : 1em auto ;
			height: 4px;
			background: linear-gradient(to right, $light-blue, $light-purple);
		}
	}
	
	
	main {
		margin-inline: auto;
		width: var(--blog-width);
	
		p{  
			font-weight: 600;
			font-size: 0.6em;
			color: var(--color);
			margin-bottom: 2em;
		}
	
		hr {
			width: 100%;
			border: 2px solid transparent;
			border-top: 2px solid $deep-iris;
			margin-bottom: 1em;
		}
	
	
		article {
			p {
			margin-bottom: 1em;
			width: 97%;
			font-family: $font-family-5;
			font-size: 0.6em;
			font-weight: 450;
			line-height: 1.5em;
			color: var(--color);
			}
	
			a:hover{
				color: $light-blue;
			}
		}
	}
	</style>
	
	
	
	<Navbar lang={language} />

    <header>
        <h1>Digital Poetry</h1>

		<BlogImage src="/placeholder.webp" alt="hero image" caption="  " />

		<div></div>

    </header>

    <main>
        <article>
            
            <p>Bienvenue sur Digital Poetry, mon sanctuaire personnel où je plonge dans les mondes des œuvres d'art numériques, à la recherche des émotions brutes et de l'appréciation intellectuelle qu'elles offrent, le tout en couvrant également quelques informations générales à leur sujet.</p>

            <p>Ce que vous trouverez principalement ici sont mes réflexions, mes idées, mes opinions tranchées et mes réflexions sincères sur les jeux vidéo, les anime, les films et toutes les oeuvres qui ont eu un impact profond sur moi.</p>

            <p>N'hésitez pas à visiter les pages, à partager vos propres histoires et embarquer dans ce voyage avec moi. Vous pouvez me contacter à l'adresse suivante : <a href="mailto:@fantomepoetry@gmail.com">@fantomepoetry@gmail.com</a>. N'hésitez pas à faire des suggestions ou à partager vos pensées.</p>
            
		</article>

		<hr>

		<p>Le Fantôme</p>
		
    </main>

    <Footer lang={language} />

</Layout>

