---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/footer/Footer.astro';
import Navbar from '../../components/navbar/navbar.astro';
import { getCollection } from 'astro:content';
import AccueilBlog from '../../components/blog_template/blog_home/blog_index';

import { formatFullDate } from "../../components/blog_template/utils"


const language = "fr"


interface Card {
    title : string,
	description : string,
    image : string,
    pubDate : string,
    tags? : string[],
    url : string,
}


const posts = (await getCollection('blog')).sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);


const featuredPost : any[] = []
// const current = Astro.url.pathname.split("/").at(-1)

for (let index = 0; index < posts.length; index++) {
	const post = posts[index];
	const [lang, ...slug] = post.slug.split('/');
	const genre = slug.at(-2)

	const pages = [lang, "blog", ...slug]
	

    const url = pages.join("/")

	if (lang === language){	
		featuredPost.push({
			title: post.data.title,
			image: post.data.image || 'placeholder.webp', // Assuming a default image if none is provided
			pubDate: formatFullDate(new Date(post.data.pubDate), language),
			// tags: post.data.tags,
			tags: [genre],
			url: url ,
		})
	}
}

---

<Layout lang={language} title='Pixel Poetry un lieu pour discuter sur les oeuvres digitales'>
		<Navbar lang={language} />

		<header>
			<h1>Pixel Poetry</h1>
			<h2>Parler des grandes oeuvres et des raisons de leur impact</h2>
		</header>

		<main id="blog">
	
			<AccueilBlog blogs={featuredPost as Card[]} lang='fr' />

		</main>
		<Footer lang={language} />
</Layout>