
@import "../../../layouts/colors";
@import "../../../layouts/font";

header{
    width: 100%;
    height: clamp(200px, 50vh, 500px);
    margin-top: 0;
    margin-bottom: 1em;
    background-image: url("/blog-placeholder-5.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    // background-clip: text;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 2em;
        font-weight: 700;
        font-family: $font-family-5;
        color: $white;
        text-align: center;
        margin-block: 0.5em;
    }
    
    h2 {
        font-size: 0.6em;
        font-family: $font-family-5;
        color: $light-white;
        text-align: center;
    }
}

#blog {
    margin-inline: auto;
    width: var(--blog-width);

    font-size: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;

    #new-articles{

        &::-webkit-scrollbar{
            display: none;
            width: 0px;
        }

        overflow: hidden;

        display: grid;
        // height: 100vh;
        height: auto;
        width: var(--blog-width);
        grid-template-columns: repeat(15, calc(var(--blog-width) / 16));
        grid-template-rows: repeat(9, 80px);
        gap: 0.15em;


        .blog-card{
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            background: var(--card-gradient);
            border-radius: 0.3em;

            &:hover{
                transform: none;
                background: #00000024;

                img{
                    transform: scale(0.9);
                }
                .card-details{
                    h2{color: $neon-orange;}
                }
            }

            .card-details{
                justify-content: flex-end;

                h2, h4{
                    color: $white;
                }

                hr{
                    width: 30%;
                    border-top: 4px solid $light-purple;
                    margin-block: 0.1em;    
                }
            }
            

            img{
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 45%;
                translate: -50% -50%;
                width: 150%;
                height: 150%;
                transition: transform 300ms linear, filter 300ms linear;
            }
        
        
        &:nth-child(1){
            grid-column: 1 / span 10;
            grid-row: 1 / span 4;
        }
        &:nth-child(2){
            grid-column: 11 / span 4;
            grid-row: 1 / span 4;
        }
        &:nth-child(3){
            grid-column: 1 / span 7;
            grid-row: 5 / span 4;
        }
        &:nth-child(4){
            grid-column: 8 / span 7;
            grid-row: 5 / span 4;
        }
    }
    }

    
    .blog-card {
        transition: all 200ms linear ;
        // background-color: #111111;
        background-color: var(--card-bg);

        margin : 0.3em 0 ;
        display: flex;
        justify-content: left;
        align-items: center;
    
        width: var(--blog-width);
        height: 200px;
        border-radius: 0.5em;
        cursor: pointer;

        // box-shadow: .25rem .25rem 1.25rem rgba(87, 112, 255 ,.1) ;
        box-shadow: .25rem .25rem 1.25rem #4646462c ;

        &:hover{            
            transform: translateY(-10px);
    
            .card-details{
                a{
                    h2 {
                        color : $iris;
                    }
                }
            }
        }
        }

        .card-details{
            height: 80%;
            margin-left: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: start;
            gap: 5px;

            div {
                display: flex;
                flex-direction: row;
                justify-content: left;
                gap: 0.2em;
                
                span {
                    padding: 0.1em 0.5em;
                    background-image: linear-gradient(to right, $iris, $deep-iris);
                    border-radius: 0.3em;
                    font-family: $font-family-5;
                    color: #fff;
                    font-size: 0.3em;
                    font-weight: 500;
                }
            }

            a{
                margin-top: 0.2em;
                text-decoration: none;
                h2 {
                    width: 90%;
                    font-family: $font-family-5;
                    font-size: 0.50em;
                    font-weight: 570;
                    color: var(--ink);
                    margin: 0;
                    padding: 0;
                }
            }
            
            h4{
                font-family: $font-family-5;
                font-size: 0.4em;
                font-weight: 570;
                color: var(--color);
                margin: 0;
                padding: 0;
            }

            hr{
                width: 20%;
                height: 2px;
                border: 2px solid transparent;
                border-top: 4px solid $iris;
                margin: 0;
                padding: 0;
            }
        }

        img {
            width: 10vmax;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 0.5em;
            margin-left: 0.5em;
        }
}

footer{
    margin-top: 5em;
}


@media screen and (max-width: 767px) {
    #blog {
        header {
            h1 {
                font-size: 2.5em;
            }
        }

        #new-articles{

            gap: 0.18em;
            grid-template-rows: repeat(12, 80px);

            .blog-card{
                
                &:nth-child(1){
                    grid-column: 1 / span 14;
                    grid-row: 1 / span 4;
                }
                &:nth-child(2){
                    grid-column: 1 / span 15;
                    grid-row: 5 / span 4;
                }
                &:nth-child(3){
                    grid-column: 1 / span 7;
                    grid-row: 9 / span 4;
                }
                &:nth-child(4){
                    grid-column: 8 / span 7;
                    grid-row: 9 / span 4;
                }
            }
        }

        .blog-card{

            height: 150px;
            margin: 0.5em 0;

            .card-details{
                h2 {
                    font-size: 0.7em;
                }
            }


            img {
                width: 14vmax;
            }
        }
    }
}