---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/navbar/navbar.astro"
import Footer from "../components/footer/Footer.astro"
import BlogImage from "../components/blog_template/micro_components/blog_img"

const language = "en"
---


<Layout title="About Pixel Poetry" description="What is Pixel Poetry about.">
	
	
<style lang="scss">
	@import "../layouts/colors";
	@import "../layouts/font";
	
	


	header {
	width: var(--blog-width);
	margin-inline: auto;
	margin-top: 5em;
	margin-bottom: 0.4em;
	color: #fff;
	
		h1 {
			background-image: linear-gradient(to right, $light-blue ,$light-purple) ;
			background-clip: text;
			text-align: center;
			font-family: $font-family-5;
			font-size: 1.6em;
			color: transparent;
			padding : 0.2em ;
		}
	
		div{
			width: 50%;
			border-radius: 2px;
			margin : 1em auto ;
			height: 4px;
			background: linear-gradient(to right, $light-blue, $light-purple);
		}
	}
	
	
	main {
		margin-inline: auto;
		width: var(--blog-width);
	
		p{  
			font-weight: 600;
			font-size: 0.6em;
			color: var(--color);
			margin-bottom: 2em;
		}
	
		hr {
			width: 100%;
			border: 2px solid transparent;
			border-top: 2px solid $deep-iris;
			margin-bottom: 1em;
		}
	
	
		article {
			p {
			margin-bottom: 1em;
			width: 97%;
			font-family: $font-family-5;
			font-size: 0.6em;
			font-weight: 450;
			line-height: 1.5em;
			color: var(--color);
			}
	
			a:hover{
				color: $light-blue;
			}
		}
	}
	</style>
	
	
	
	<Navbar lang={language} />

    <header>
        <h1>Pixel Poetry</h1>

		<BlogImage src="placeholder.webp" alt="hero image" caption="  " />

		<div></div>

    </header>

    <main>
        <article>

			<p>Welcome to Pixel Poetry, my personal sanctuary where I delve into the profound world's of pieces of digital art , seeking the raw emotions and intellectual appreciation they offer while also covering some general informations about them. </p>

			<p>What you'll mainly find here are my musings, insights, hot takes and heartfelt reflections on video games, anime, movies and anything that have left a profound impact on me. </p>

			<p>Feel free to explore the pages, share your own stories, and embark on this journey with me. You can contact me here at <a href="mailto:fantomepoetry@gmail.com">@fantomepoetry@gmail.com</a> feel free to make any suggestions or share your thoughts.</p>

		</article>

		<hr>

		<p>Le Fantôme</p>
		
    </main>

    <Footer lang={language} />

</Layout>
