---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer/Footer.astro';
import Navbar from '../components/navbar/navbar.astro';
import { getCollection } from 'astro:content';
import AccueilBlog from '../components/blog_template/blog_home/blog_index';

import { formatFullDate } from "../components/blog_template/utils"


const language = "en"


interface Card {
    title : string,
	description : string,
    image : string,
    pubDate : string,
    tags? : string[],
    url : string,
}


const posts = (await getCollection('blog')).sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);


const featuredPost : any[] = []

for (let index = 0; index < posts.length; index++) {
	const post = posts[index];
	const [lang, ...slug] = post.slug.split('/');
    const url = ["blog", ...slug].join("/")
	
	if (lang === language){	
		console.log("path is : ", url)
		featuredPost.push({
			title: post.data.title,
			image: post.data.image || 'placeholder.webp', // Assuming a default image if none is provided
			pubDate: formatFullDate(new Date(post.data.pubDate), language),
			tags: post.data.tags,
			url: url ,
		})
	}
}

---


<Layout>

		<Navbar />

		<header>
			<h1>Pixel Poetry</h1>
			<h2>Talking about great pieces of media and why they are so impactful</h2>
		</header>

		<main id="blog">
	
			<AccueilBlog blogs={featuredPost as Card[]} />

		</main>
		<Footer />
</Layout>
