
$accent-purple : purple ;
$bright-purple : #BF40BF;

$iris : #5D3FD3;
$deep-iris : #3e2797;
$light-iris : #5d3fd3;

$light-blue : #425fff;
$light-purple : #a95fdd;

$green : #097969;

$bright-green : #AAFF00;
$bright-blue : #00FFFF;
$white : #fff;
$light-white : #ffffffa9 ;
$gray : #c5c5c5;
$black : #101010;

$neon-purple : purple ;
$neon-orange : #ff6740;
$neon-yellow : #ffe224;
$neon-red : red;

