

---
import BaseHead from './micro_components/BaseHead.astro'
interface Props {
	title?: string
	lang? : string
	description? : string
	heroImage? : string
}

const { title, lang, description, heroImage } = Astro.props;

const pageTitle = title ? title : "Digital Poetry"

const language = lang ? lang : "en"

let Pagedescription : string

if (description){
	Pagedescription = description
}

else if (language === "fr"){
	Pagedescription = "Pixel Poetry est un sanctuaire ou on parle des oeuvres digitales qui nous ont profondement marqués"
}
else {
	Pagedescription =`Pixel Poetrey is a sanctuary where we talk about pieces of media art that have deeply impacted us.`
}
---

<!doctype html>
<html lang={language}>
	<head>
		<BaseHead title={pageTitle} description={Pagedescription} image={heroImage}/>
	</head>
	<body>
		<slot />
	</body>
</html>


