
@import "../colors";
@import "../font";

#blog {
    margin-top: clamp(50px, 8vh, 150px);
}

main{
    margin-inline: auto;
    width: var(--blog-width);

    hr {
        width: 100%;
        border: 2px solid transparent;
        border-top: 2px solid $deep-iris;
    }

    #tags {
        margin-top: 5em;
        margin-bottom: 0.5em;
    }

}

figure {
    display: flex; 
    flex-direction: column;
    margin-block: 0.5em;
    width: 97%;

    figcaption{
        font-family: $font-family-5;
        font-weight: 500;
        font-size: 0.38em;
        color: var(--color);
    }
    
    img{
        border-radius: 0.2em;
        width: 100%;
        margin-inline: auto;
        margin: 0;
        padding: 0;
    }
    
}


article {
    $text-size : 0.52em;
   
    
    header {
        width: var(--blog-width);
        margin-inline: auto;
        margin-bottom: 0.4em;
        color: #fff;

        a{
            font-size: 0.5em;
        }
        
        h1 {
            background-image: linear-gradient(to right, $light-blue ,$light-purple) ;
            background-clip: text;
            text-align: left;
            font-family: $font-family-5;
            font-size: 1.6em;
            color: transparent;
        }
        span{
            text-align: left;
            font-family: $font-family-5;
            font-size: 0.4em;
            font-weight: 600;
            color: var(--ink);
        }

        p{
            font-family: $font-family-5;
            font-size: 0.6em;
            font-weight: 450;
            color: var(--ink);
            margin: 0em 0;
        }

        div{
            width: 50%;
            border-radius: 2px;
            margin-inline : auto ;
            margin-bottom: 1em;
            height: 4px;
            background: linear-gradient(to right, $light-blue, $light-purple);
        }

        hr {
            margin: 0.5em auto;
            width: 75%;
            border: 2px solid transparent;
            border-top: 2px solid $iris;
        }

    }


   
    h2, h3, h4 {
        margin-top: 1em;
        margin-bottom: 0.3em;
        width: 97%;
        font-family: $font-family-5;
        color: var(--ink);
    }
    h2 {
        font-size: 0.8em;
        font-weight: 600;
        color: $iris;
    }
    h3, h4{
        font-size: 0.5em;
        font-weight: 600;
    }
    
    p {
        margin-bottom: 1em;
        width: 97%;
        font-family: $font-family-5;
        font-size: $text-size;
        font-weight: 450;
        line-height: 1.5em;
        color: var(--color);
    }

    ul, ol{
        width: 90%;
        margin: 0.1em auto ;
    }

    a {
        font-family: $font-family-5;
        font-weight: 500;
        text-decoration: none;
        color: $light-iris;
        transition: color 200ms linear;
        cursor: pointer;
        &:hover{
            color: $light-blue;
        }
    }

    
    li {
        font-size: $text-size;
        font-weight: 450;
        line-height: 2em;
        font-family: $font-family-5;

        a{
            color: var(--color);
        }

        &::marker{
            color: $bright-purple;
        }
    }

   
}

.related-articles{
    display: flex;
    flex-direction: column;
    a{
        font-size: 0.6em;
    }
}

.author {
    margin-block: 1em;

    p{  
        font-weight: 600;
        font-size: 0.6em;
        color: var(--color);
    }
}

@media screen and (max-width: 767px) {
    main{
        article{
            font-size: 6.5vmin;
            $text-size : 0.6em ;

            p{
                font-size: $text-size;
            }
            
        }
    }
}
